<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{~/common/myJs.jsp}"></script>

    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=39b92e64ae5622663ceceaccd8ab8eb1"></script>

<style type="text/css">
    body, html{width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
    #allmap{width:100%;height:500px;}
    #allMapBody{height:300px;width:100%;}
</style>
</head>
<body>
<div id="div-button">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">新增</button>
</div>
<!-- 模态框 -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">文章发布</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body" id="sssss">
                <div class="container mt-3">
                    <form id="sss">
                        <input type="hidden" name="id" id="id">
                        <div class="line">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">标题</span>
                                </div>
                                <input type="text" name="title" id="title" placeholder="标题" class="form-control">
                            </div>

                            <br/>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">副标题</span>
                                </div>
                                <input type="text" name="minTitle" id="minTitle" placeholder="副标题" class="form-control">
                            </div>

                        </div>
                        <br/>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">视屏路径</span>
                            </div>
                            <input type="text" name="videoPath" id="videoPath" placeholder="视屏路径" class="form-control">
                        </div>
                        <br/>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">详情</span>
                            </div>
                            <textarea class="form-control" rows="3" name="details" id="details"
                                      placeholder="详情"></textarea>
                        </div>
                        <!--百度地图 div-->
                        <div class="input-group mb-5">
                            <div class="input-group-prepend"><span class="input-group-text">地理位置</span></div>
                            <div id="allmap" class="form-control" style="height: 200px;width: 350px"></div>
                            <input type="hidden" name="pointxs">
                            <input type="hidden" name="pointys">
                        </div>
                    </form>
                </div>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" onclick="addMongo()" class="btn btn-primary">保存</button>
                <button type="button" class="btn btn-secondary" onclick="closed()" data-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>

</div>
<table class="table table-bordered comTable table1" id="myTable"></table>

<!--地图显示 开始-->
<!-- 对话框窗口 新增-->
<div class="modal fade" id="myMapModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- 模态框主体 -->
            <div class="modal-heard">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                <h4 class="modal-title" id="myModelLabel">详细地址 : </h4>
            </div>
            <div class="modal-body">
               <div id="allMapBody"></div>
            </div>
            <div class="model-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--地图显示 结束-->

</body>
<script>
    $(function () {
        getConditionToHtml();
    })
    function addMongo() {
        $.ajax({
            url: "/condition/saveOrUpdate",
            async: true,
            type: "POST",
            data: $("#sss").serialize(),
            dataType: "json",
            success: function (data) {
                if (data == 1) {
                    $('body').on('hidden.bs.modal', '#myModal', function () {
                        $(this).removeData('bs.modal');
                    });
                    layer.msg('成功!');
                    window.location.reload();
                }
            },
            error: function (e) {
                alert("网络连接失败，请您稍后再试！");
            }
        });
    }

    /*----------------百度地图开始-------------------------*/
    // 百度地图API功能
    var map = new BMap.Map("allmap",{minZoom:4,maxZoom:12});    // 创建Map实例,并设置地图最大最小级别
    map.centerAndZoom(new BMap.Point(116.422197, 39.876978), 10);  // 初始化地图,设置中心点坐标和地图级别
    map.addControl(new BMap.MapTypeControl({mapTypes: [BMAP_NORMAL_MAP,BMAP_SATELLITE_MAP,BMAP_HYBRID_MAP ]}));   //添加地图类型控件
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
    var geoc = new BMap.Geocoder();       //创建一个地址解析器的实例
    //删除标注点
    var removeMarker = function(e,ee,marker){
        map.removeOverlay(marker);
    }
    // 添加定位控件
    var geolocationControl = new BMap.GeolocationControl();
    geolocationControl.addEventListener("locationSuccess", function(e){
        // 定位成功事件
        var address = '';
        address += e.addressComponent.province;
        address += e.addressComponent.city;
        address += e.addressComponent.district;
        address += e.addressComponent.street;
        address += e.addressComponent.streetNumber;
        layer.msg("当前定位地址为：" + address);
    });
    geolocationControl.addEventListener("locationError",function(e){
        // 定位失败事件
        alert(e.message);
    });
    map.addControl(geolocationControl);

    //左键单击地图响应事件
    map.addEventListener("click", function(n){
        //1.点击动态生成标注点
        var point=new BMap.Point(n.point.lng,n.point.lat);
        var marker =new BMap.Marker(point);
        map.clearOverlays();  //清除之前的标记
        map.addOverlay(marker);     //增加标记

        //2.为标注点生成右击菜单
        //创建菜单
        var markerMenu =new BMap.ContextMenu();
        markerMenu.addItem(new BMap.MenuItem('删除',removeMarker.bind(marker)));
        marker.addContextMenu(markerMenu);
        //3.调用后端接口存储该标注信息
        $("[name='pointxs']").val(n.point.lng)
        $("[name='pointys']").val(n.point.lat)

        var pt = n.point; //将鼠标单击时的坐标进行逆地址解析
        geoc.getLocation(pt,function(rs){//解析的结果是一个对象，且作为参数传入了回调函数中
            // 该对象的属性中保存了解析后的结构化的地址信息
            var addrComp = rs.addressComponents;
            console.log(addrComp);
            //{streetNumber: "", street: "西长安街", district: "东城区", city: "北京市", province: "北京市"}
            layer.msg(addrComp.province + "," + addrComp.city + "," + addrComp.district + "  "+addrComp.street +"  "+ addrComp.streetNumber)
        })


    });
  /*----------------百度地图结束-------------------------*/

    function getConditionToHtml() {
        $('#myTable').bootstrapTable({
            url: '/condition/getCondition',         //请求后台的URL（*）
            method: 'get',                      //请求方式（*）
            toolbar: '#div-button',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            pagination: true,                   //是否显示分页（*）
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 5,                       //每页的记录行数（*）
            pageList: [5, 10, 20, 50],        //可供选择的每页的行数（*）
            /* queryParams: function (params) { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求
            console.log(params)
              return { //这里return值就是请求 url属性时携带的参数
                 pageSize: params.limit, // 每页要显示的数据条数
                offset: params.offset, // 每页显示数据的开始行号
                sear_name:params.search,
                email:$("#exampleInputEmail1").val()
            }
          }, */
            queryParams: function (params) {
                return {
                    page: this.pageNumber,
                    rows: this.pageSize,
                    //loginAcct:params.search,
                };
            },//传递参数（*）
            search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            columns: [
                {field: 'title', title: '标题'},
                {field: 'minTitle', title: '副标题'},
                {
                    field: 'videoPath', title: '视屏', formatter: function (value, row, index) {
                        return "<video controls loop  name='videoPath' align='center' style='width: 100px;height: 80px;'><source preload='metadata' src='" + value + "' type='video/mp4'></video>";
                    }
                },
                {field: 'details', title: '详情'},
                { field: '222', title: '操作', formatter: function (value, row, index) {
                    var butt="";
                        if (row.map == 0){
                            butt +=  '<button onclick="deleteItem(' + row.id + ',\'' + row.title + '\')" class="btn btn-error" >删除</button><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="updateById(' + row.id + ')" >修改</button>' ;
                            butt +=   '<button type="button" class="btn btn-primary" data-toggle="modal"  onclick="editmap(' + row.id + ')">隐藏</button>';
                            butt +=   "<button class='btn btn-primary' data-toggle='modal' data-target='#myMapModal' onclick=dingweiMap(\""+row.pointxs +"\",\""+row.pointys+"\")><span class='glyphicon glyphicon-map-marker'></span>  定位</button>";
                                ;
                        }else{
                            butt +=   '<button onclick="deleteItem(' + row.id + ',\'' + row.title + '\')" class="btn btn-error" >删除</button><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="updateById(' + row.id + ')" >修改</button>' ;
                            butt +=   '<button type="button" class="btn btn-primary" data-toggle="modal"  onclick="editmap2(' + row.id + ')">取消隐藏</button>';
                            butt +=   "<button class='btn btn-primary' data-toggle='modal' data-target='#myMapModal' onclick=dingweiMap(\""+row.pointxs+"\",\""+row.pointys+"\")><span class='glyphicon glyphicon-map-marker'></span>  定位</button>";
                                ;
                        }
                        return butt;
                    }
                }
            ],
            onLoadSuccess: function () {  //加载成功时执行
                console.info("加载成功");
            },
            onLoadError: function () {  //加载失败时执行
                console.info("加载数据失败");
            }
        });
    }
/*显示地图详细地址   开始*/
    // 百度地图API功能


    function dingweiMap(pointxs,pointys) { //接受数据

        var map2 = new BMap.Map("allMapBody");
        map2.centerAndZoom(new BMap.Point(pointxs,pointys),11);
        map2.enableScrollWheelZoom(true);

        if(pointxs !="" && pointys!=""){
            map2.clearOverlays();
            var new_point = new BMap.Point(pointxs,pointys);

            var marker = new BMap.Marker(new_point);  // 创建标注
            map2.addOverlay(marker);              // 将标注添加到地图中
            map2.panTo(new_point);
        }
    }

/*显示地图详细地址   结束*/
    function deleteItem(id, name) {
        bootbox.confirm("你确定要删除" + name + "的文章吗?", function (result) {
            if (result) {
                $.ajax({
                    url: '/condition/deleteOne',
                    type: 'post',
                    data: {"id": id},
                    dataType: 'json',

                    success: function (data) {
                        if (data == 1) {
                            $('#myTable').bootstrapTable('refresh');
                        }
                    }
                })
            }

        })
    }


    function updateById(id) {
        $.ajax({
            url: "/condition/queryById",
            type: "POST",
            data: {id: id},
            success: function (data) {
                console.log(data)
                $("#id").val(data.id);
                $("#minTitle").val(data.minTitle);
                $("#title").val(data.title);
                $("#videoPath").val(data.videoPath);
                $("#details").val(data.details);
            },
            error: function (e) {
                alert("网络连接失败，请您稍后再试！");
            }
        });
    }

    function closed() {
        document.getElementById("sss").reset();
    }

    function editmap(id){

        $.ajax({
            url:"/condition/editmap",
            type: "POST",
            data: {"id": id},
            dataType: 'json',
            success: function (data) {
                if (data == 1) {
                    $('#myTable').bootstrapTable('refresh');
                }

            }
        })
    }

    function editmap2(id){
        $.ajax({
            url:"/condition/editConcelmap",
            type: "POST",
            data: {"id": id},
            dataType: 'json',
            success: function (data) {
                if (data == 1) {
                    $('#myTable').bootstrapTable('refresh');
                }

            }
        })
    }

</script>
</html>