<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{~/common/myJs.jsp}"></script>
    <script src="/js/echarts.min.js"></script>

</head>
<body>

<div id="toolbar">
    <form class="form-inline">
        <div class="form-group">
            <label for="startTime">时间:</label>
            <input type="text" class="form-control date"  id="startTime"> -
            <input type="text" class="form-control date"  id="endTime">
        </div>
        <br>
        <button onclick="searcher()" type="button" class="btn btn-info glyohicon glyohicon-search">搜索</button>
    </form>
</div>

<table id="tableId"></table>

<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 1200px;height:600px;"></div>
</body>

<script type="text/javascript">

    $(function () {
        initDategrid();
    })
    //data框
    $('.date').datetimepicker({
        language: 'zh-CN',//显示中文
        format: 'yyyy-mm-dd hh:ii:ss',//显示格式
        minView: "hour",//设置只显示到月份
        autoclose: true,//选中自动关闭
        todayBtn: true//显示今日按钮
    });
    function initDategrid() {
        $('#tableId').bootstrapTable({
            toolbar:'#toolbar',
            url: '/log/queryLog',         //请求后台的URL（*）
            method: 'get',                      //请求方式（*）
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            pagination: true,                   //是否显示分页（*）
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 5,                       //每页的记录行数（*）
            pagination:true, //是否展示分页
            pageList:[1,3,5, 10, 50],     //分页组件
            queryParams: function (params) {
                var startTime = $('#startTime').val();
                var endTime = $('#endTime').val();
                return {
                    page: this.pageNumber,
                    rows: this.pageSize,
                    startTime:startTime,
                    endTime:endTime
                };
            },//传递参数（*）
            //search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            columns: [
                {field:'id',title:'id'},
                {field:'userName',title:'用户名'},
                {field:'className',title:'类名'},
                {field:'method',title:'方法名'},
                {field:'createTime',title:'创建时间',
                    formatter: function(value,row,index){
                        var mydate = new Date(value)//格式化日期
                        var str = mydate.toLocaleDateString()//日期对象的方法
                        return str;
                    }
                },
                {field:'url',title:'url路径'},
            ],
            onLoadSuccess: function () {  //加载成功时执行
                console.info("加载成功");
            },
            onLoadError: function () {  //加载失败时执行
                console.info("加载数据失败");
            }
        });
    }

    //条查
    function searcher(){
        $('#tableId').bootstrapTable('refresh');
    }

    //-----------------------------------ercharts 报表-----------------------------------------
</script>
</html>