<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script th:src="@{~/common/myJs.jsp}"></script>
</head>
<body>
<div style="float: left">
<form id="ss" style="margin-left:300px;margin-top:100px;" action="/contentYjm/insertForm" method="post">
    <table>
        <caption><center>登录</center></caption>
        <thead>
        <tr>
            <td>用户名</td>
            <td><input type="text" class="form-control" name="username"></td>
            <td><br/></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>密码</td>
            <td><input class="form-control" type="password" name="password"></td>
            <td><br/></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">
                <center><input type="submit" class="btn btn-info btn-block" value="提交"></center>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</div>
<div style="float: left;margin-top: 1%">
    <center><span th:text="${session.msg}"></span></center>
</div>
<script>


</script>

</body>
</html>