<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{~/common/myJs.jsp}"></script>
</head>
<style>
    .add-dialog{
        width:800px;
    }
</style>
<body>
<!--onclick="opendAddDialog()"-->
<form id="pro_from" class="form-inline">
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" type="button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
    </button>
    <button id="btn_delete" onclick="btn_deleteInfo()" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
    </button>
</form>
<table id="tableId"></table>


<div class="modal fade" id="myModal"  data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">提问</h4>
            </div>
            <div class="modal-body">
                <p>问题描述</p>

                <div class="container-fluid">
                    <form id="addForm" class="form-horizontal">
                        <div class="row">
                            <div class="col-xs-2">智力标题:</div>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" name="title">
                            </div>
                            <div class="col-xs-2">智力选择题A:</div>
                            <div class="col-xs-10">
                                <textarea rows="" cols="" class="form-control" name="one"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2">智力选择题B:</div>
                            <div class="col-xs-10">
                                <textarea rows="" cols="" class="form-control" name="two"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2">智力选择题C:</div>
                            <div class="col-xs-10">
                                <textarea rows="" cols="" class="form-control" name="three"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2">智力选择题D:</div>
                            <div class="col-xs-10">
                                <textarea rows="" cols="" class="form-control" name="five"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2">智力答案:</div>
                            <div class="col-xs-10">
                                <textarea rows="" cols="" class="form-control" name="parse"></textarea>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
                <button class="btn btn-primary" onclick="opendAddDialog()"  type="button">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div style="height:200px"></div>

</body>
<script type="text/javascript">
    $(function () {
        init();
    })
    //新增
    function opendAddDialog(){
            $.ajax({
                url:'/addQuizzesmar',
                type:'post',
                data:$("#addForm").serialize(),
                dataType:'json',
                success:function(data){
                    $('#tableId').bootstrapTable('refresh');
                }
            });
    }
    //分页查询
    function init() {
        $('#tableId').bootstrapTable({
            toolbar: '#toolbar',
            url: "/queryQuizzesmarlist",
            pagination: true, //是否展示分页
            pageList: [1, 3, 5, 10, 50],//分页组件
            pageNumber: 1,
            pageSize: 3,//默认每页条数
            showColumns: false,//是否显示 内容列下拉框
            showToggle: false,//是否显示 切换试图（table/card）按钮
            showPaginationSwitch: false,//是否显示 数据条数选择框
            showRefresh: false,//是否显示刷新按钮
            detailView: false,//设置为 true 可以显示详细页面模式。
            showFooter: false,//是否显示列脚
            clickToSelect: false, //是否启用点击选中行
            sidePagination: 'server',//分页方式：client客户端分页，server服务端分页（*
            // striped:true,
            queryParams: function () {
                return {
                    page: this.pageNumber,
                    rows: this.pageSize,
                };
            },
            columns: [
                {field: 'aaa', title: 'xxx', align: 'center', checkbox: true},
                {field: 'id', title: '智力编号', width: 60, align: 'center'},
                {field: 'title', title: '智力标题', width: 60, align: 'center'},
                {field: 'one', title: '智力选择题A', width: 100, align: 'center'},
                {field: 'two', title: '智力选择题B', width: 100, align: 'center'},
                {field: 'three', title: '智力选择题C', width: 100, align: 'center'},
                {field: 'five', title: '智力选择题D', width: 100, align: 'center'},
                {field: 'parse', title: '智力答案', width: 100, align: 'center'}
            ]

        })
    }

    //批量删除
    function btn_deleteInfo(){
        //获取所有被选中的记录
        var rows = $("#tableId").bootstrapTable('getSelections');
        if(rows.length == 0){
            alert("请选择要删除的数据");
        }else if(confirm("确定删除吗")){
            var ids = new Array();
            for(var i= 0;i<rows.length;i++){
                ids+= ids+=","+rows[i].id;

            }
            $.ajax({
                url:'deleteInfo',
                data:{ids:ids},
                type:'post',
                dataType:'json',
                success:function(data){
                    alert("删除成功");
                    //重新加载记录
                    //重新加载数据
                    $("#tableId").bootstrapTable('refresh');
                }

            });

        }
    }
</script>
</html>