<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container-fluid">
    <form id="addForm" class="form-horizontal">
        <div class="row">
            <div class="col-xs-2">问题:</div>
            <div class="col-xs-4">
                <div class="form-group">
                    <input type="hidden" name="id" id="discuIdEdit">
                    <input type="text" name="questionOne" id="questionOneEdit" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">A答案:</div>
            <div class="col-xs-4">
                <div class="form-group">
                    <input type="text" id="discuCountEdit" name="answerOne" class="form-control">
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-xs-2"> B答案 </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <input type="text" id="answerTwoEdit" name="answerTwo" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">C答案</div>
            <div class="col-xs-4">
                <div class="form-group">
                    <input type="text" id="answerThreeEdit" name="answerThree" class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">D答案:</div>
            <div class="col-xs-4">
                <div class="form-group">
                    <input type="text" id="answerFourEdit" name="answerFour" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">E答案:</div>
            <div class="col-xs-4">
                <div class="form-group">
                    <input type="text" id="answerFiveEdit" name="answerFive" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">F答案:</div>
            <div class="col-xs-4">
                <div class="form-group">
                    <input type="text" id="answerSixEdit" name="answerSix" class="form-control">
                </div>
            </div>
        </div>

    </form>
</div>

</body>
</html>